body{
    margin: 0px;
    padding: 0px;
}

.kutu{
    width: 100px;
    height: 100px;
}
.kutu1{
    background-color: blueviolet;
}
.kutu2{
    background-color: crimson;
    flex: 2;
}
.kutu3{
    background-color: darkgoldenrod;
    flex: 3;
}
.kutu4{
    background-color: forestgreen;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}